<div style="margin: 0px;">
</div>

<div class="cubeui-fluid">
    <fieldset>
        <legend>Warehouse信息</legend>
    </fieldset>
    <div class="cubeui-row">
        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">Warehouse名字:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Name"
                       value='{{:Name}}'
                       {{if ID=="Default"}}disabled{{/if}}
                       data-options="
                                required:false,prompt:'Warehouse名字'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">WarehouseAddress:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Endpoint"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Endpoint}}'
                       data-options="
                                required:false,prompt:'WarehouseAddress，Select Fill；为空默认为官方镜像Addresshttps://index.docker.io/v1/'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">Remarks:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Description"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Description}}'
                       data-options="
                                multiline:true,
                                height:60,
                                required:false,prompt:'WarehouseRemarks，Select Fill'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">Username:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Username"
                       value='{{:Username}}'
                       data-options="
                                                        required:false,prompt:'Login镜像Warehouse的Username'
                                                        "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label">Password:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-passwordbox" name="Password"
                       value='{{:Password}}'
                       data-options="
                                                        required:false,prompt:'Login镜像Warehouse的用户Password'
                                                        "
                >
            </div>
        </div>
    </div>
</div>